<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="Refresh" content="60" />
      <title>Получить скидочный купон</title>
      <link rel="stylesheet" href="style.css">
      <script src="/js/vue.min.js"></script>
   </head>
   <body>
      <div class="c1">
         <div class="c5 baguetteBoxOne gallery">
            <div id="app">
               <div id="loading" class="loadfreeze" v-if="myCouponId">
                  <div class="center">
                     <span>Купон выслан на почту</span>
                     <div class="addBasket">
                       <a href="http://sales.juna-life.ru/FreeCouponPrint.aspx?CouponCode={{myCouponId}}&export=1"  class="buttontitle">Cкачать купон</a>
                     </div>                     
                  </div>
               </div>
               <div id="loading" class="loadfreeze" v-if="error">
                   <div class="center"> {{ error }} <br>
                     <div class="addBasket">
                       <div onclick = "location.reload();" class="buttontitle">Готово</div>
                     </div>  
                   </div>
               </div>               
               <div  class="columns" v-if="!myCouponId">
                  <div v-for="coupon in coupons" class="column" :style="{ opacity: coupon.TotalCountCupon* (coupon.BasePrice - coupon.Price)}">
                     <div class="h3">{{ coupon.CompanyName }}</div>
                     <div class="subheader">
                         <span>{{ coupon.CompanyAddress }}</span>
                         <span>{{ coupon.WebSite }}</span>
                         <span>{{ coupon.CompanyPhones}}</span>

                     </div>
                     <div class="filialPhoto">
                         <img :src="coupon.ImageCupon">
                     </div>
                     <div class="discription">
                        <h3>{{coupon.NameCuponOption}}</h3>
                        {{ coupon.Title}}
                        <br>
                        <small>
                        *{{coupon.DateBegin}}
                        {{coupon.DateEnd}}</small>
                     </div>
                     <div class="prices">
                        <div class="priceContainer">
                           <div class="priceTitle">Обычная цена</div>
                           <div class="price">{{ coupon.BasePrice }}</div>
                        </div>
                        
                        <div class="priceContainer">
                           <div class="priceTitle">Цена со скидкой</div>
                           <div class="price"><span class="actionRed">{{ coupon.Price }}</span></div>
                        </div>
                     </div>
                     <div class="ActionPlace">
                        <div class="defaultCountdown">
                           <div class="CountdownData"> осталось <br> {{ coupon.TotalCountCupon }} шт </div>
                        </div>
                        <div class="defaultCountdownDays">
                           <div class="CountdownData"> осталось <br> {{ coupon.CountDayEnd }} дня </div>
                        </div>

                     </div>

                     <div class="priceContainer">
                        <input v-model="email" type="email" class="userEmail"
                        placeholder="Введите ваш email">
                     </div>
                     <div class="addBasket">
                        <div class="icon">🛒</div>
                        <div v-on:click = "isEmailValid(this.email) && couponme(coupon,this.email)" class="buttontitle">Получить скидку {{coupon.PriceDiscount*100 }}%
                        </div>
                     </div>                     
                  </div>
               </div>
            </div>
         </div>
      </div>
      <script src="./js/app.js"></script>
   </body>
</html>
